<div id="stat" class="span5">
<h1>City Hall M@ster</h1>

<div class="alert-message <%= (state.week == consts.NWEEKS-1) ? 'error' : 'info' %>">
<%= state.month %>월 <%= ['첫', '둘', '셋', '넷'][state.week % 4] %>째주 &mdash; 선거까지 <strong><%= consts.NWEEKS - state.week %>주</strong> 남음
</div>

<div style="margin: 10px; overflow: hidden">
<img src="<%= state.character.photo %>" width="75" class="avatar">
<div style="padding-top: 10px"><%= state.character.party %></div>
<h2><%= state.character.name %></h2>
</div>

<table style="clear: left">
<tr>
    <th>남은 행동력</th>
    <td>
        <div class="bar-chart"><div class="bar-chart-inner point" style="width: <%= state.point / consts.INITIAL_POINT * 100 %>%"></div></div>
        <span style="padding-left: 20px"><%= state.point %></span>
    </td>
</tr>
<% gameData.stats.forEach(function(stat) { %>
<tr>
    <th><%= stat.name %></th>
    <td>
        <div class="bar-chart"><div class="bar-chart-inner" style="width: <%= state.stat[stat.id] %>%"></div></div>
        <span style="padding-left: 20px"><%= state.stat[stat.id] %></span>
    </td>
</tr>
<% }) %>
</table>

<% if (state.lastSurveyWeek != -1) { %>
<% function formatNumber(n) {
    var s = n.toString().substring(0, 4);
    if (s.charAt(s.length - 3) == '.')
        return s.substring(0, 3);
    else
        return s;
} %>
<div class="block">
<h3>여론조사 결과 (<%= state.week - state.lastSurveyWeek %>주 전)</h3>
<table class="zebra-striped" id="survey" style="display:none">
<% var sum = 0;
   for (var i = 0; i < gameData.areas.length; i++) {
       sum += state.lastSurveyResult[i]; %>
<tr><th><%= gameData.areas[i].name %></th><td><%= formatNumber(state.lastSurveyResult[i]) %>%</td></tr>
<% } %>
<tr><th>합계</th><td><strong><%= formatNumber(sum / gameData.areas.length) %>%</strong></td></tr>
</table>
<button class="btn" onclick="$('#survey').toggle()">표시/숨김</button>
</div>
<% } %>
</div>
