<div class="row">

<%- partial('_sidebar') %>

<div class="action-scene block span10" style="background: url(/images/bg/<%= action.bg %>) repeat">
<% scenario.forEach(function(line) { %>
<p class="line" style="display: none"><%= line %></p>
<% }) %>

<p id="revealNextLineBtn"><button onclick="revealNextLine()" class="btn">계속</button>

<div id="result" class="alert-message block-message success" style="display: none">
<p><%- effect.replace(/\n/, '<br>') %>
<div class="alert-actions"><a href="/" class="btn">계속 진행</a></div>
</div>
</div>

</div>

<script>
var lastLine = $('.action-scene p').first();
lastLine.slideDown();
function revealNextLine() {
	var newLine = lastLine.next('p');
	if (newLine.attr('id') == 'revealNextLineBtn')
		finishScript();
	else {
       	newLine.slideDown();
    	lastLine = newLine;
    }
}
function finishScript() {
	$('#revealNextLineBtn').hide();
	$('#result').slideDown();
}
</script>
