<div id="intro" style="position: absolute; left: 0; top: 50%; margin-top: -150px; cursor: pointer" onclick="$('#intro').animate({opacity: 0, left: '-1000px'}, 600); $('#form').fadeIn(1000)"><img src="/images/title.png"></div>

<script>
var maxDistr = <%= consts.STAT_SUM %>;
var distr = maxDistr;

function setDistr(n) {
	distr = n;
	document.getElementById('distr').value = n;
}

function randomDist()
{
	setDistr(0);
	
	var dist = <%= consts.STAT_SUM / stats.length %>;
	<% for(var i=0; i< stats.length; i++)
	{ %>
		document.char_form["<%=stats[i].id%>"].value = dist;
	<%} %>
	
}

function incStat(statID)
{
    var input = document.char_form[statID];
    var value = parseInt(input.value);
    if (distr > 0 && value < <%= consts.STAT_MAX %>) {
        setDistr(distr - 1);
        input.value = value + 1;
    }
}

function decStat(statID)
{
    var input = document.char_form[statID];
    var value = parseInt(input.value);
    if (value > 0) {
        setDistr(distr + 1);
        input.value = value - 1;
    }
}

function checkForm(form) {
	if (form.name.value === '' || form.party.value === '') {
		alert('모든 항목을 채워주세요.');
		return false;
    }

	if (distr > 0) {
		alert('남은 배분치가 0이어야 합니다.');
		return false;
    }
}
</script>

<form id="form" name="char_form" method="post" action="/start" onsubmit="return checkForm(this)" style="display: none" class="block">
<fieldset>
<legend>후보자 등록</legend>
<div class="clearfix">
    <label>이름/정당</label>
    <div class="input">
        <input type="text" name="party" class="small"> 당 &nbsp;
        <input type="text" name="name" class="mini"> 후보
    </div>
</div>
<div class="clearfix">
    <label>후보자 얼굴</label>
    <div class="input row">
    <% ['man', 'old_man', 'woman', 'young_man', 'young_woman'].forEach(function(p) { %>
    <div class="span2">
        <input type="radio" name="face" value="/images/<%= p %>.png"> 
        <img src="/images/<%= p %>.png" width="75" style="vertical-align: middle">
    </div>
	<% }) %>
	<br>
	</div>
</div>
<div class="clearfix">
    <label>능력치 배분</label>
    <div class="input">
        <p>남은 배분치: <input id="distr" type="text" readonly class="mini" value="<%= consts.STAT_SUM %>"> &mdash; 능력치 당 최댓값은 <%= consts.STAT_MAX %>입니다. &nbsp; &nbsp;  
		<input type="button" value="임의 생성" onClick="randomDist()">
    
        <div class="row">
        <% stats.forEach(function(stat) { %>
            <div class="span2" style="text-align: center">
            <h4><%= stat.name %></h4>
            <div>
                <input onClick="decStat('<%= stat.id %>')" type="button" value="-">
                <input readonly class="span1" type="text" name="<%= stat.id %>" value="0">
                <input onClick="incStat('<%= stat.id %>')" type="button" value="+">
            </div>
            </div>
        <% }) %>
        </div>
    </div>
</div>
<div class="clearfix">
    <label>특성 선택</label>
    <div class="input">
	 <% for (var row = 0; row < 2; row++) { %>
        <div class="row">
        <% for (var i = 0; i < perks.length / 2; i++) {
			var perk = perks[row * perks.length / 2 + i]; %>
            <div class="span2">
                <input type="radio" name="perk" value="<%= perk.id %>">&nbsp;
                <%= perk.name %>
            </div>
        <% } %>
        </div>
        <% } %>
         </div>
</div>
<div class="actions"><input type="submit" class="btn primary" value="출마"></div>
</fieldset>

</form>
