<div id="countdown" style="margin-top: 100px; line-height: 100px; text-align: center;"></div>
<div id="result" style="font-size: 130px; margin-top: 80px; text-align: center; opacity: 0; color: <%= result ? 'green' : 'black' %>"><%= result ? '당선!' : '낙선' %></div>
<div id="result-sub" style="font-size: 30px; margin-top: 130px; text-align: center; opacity: 0;">
<% if (result) { %>
축하합니다! <%= support %>%의 득표율로 당선되셨습니다.
<% } else { %>
아쉽군요... 득표율은 <%= support %>%이었습니다.
<% } %>
</div>

<script>
var counts = [];
for (var i = 3; i > 0; i--) {
    var c = $('<span> ' + i + '</span>')
        .css({fontSize: '100px', opacity: 0});
    $('#countdown').append(c);
    counts.push(c);
}

var cnt = 0;
var countdownTimer = setInterval(function() {
    counts[cnt].animate({opacity: 1, fontSize: '60px'}, 300);
    var cnt_ = cnt, n = 0;
    var timer = setInterval(function() {
        counts[cnt_].append('.');
        n++;
        if (n == 3)
            clearInterval(timer);
    }, 200);
    cnt++;
    if (cnt == counts.length) {
        clearInterval(countdownTimer);
        setTimeout(function() {
            $('#result').animate({opacity: 1, fontSize: '180px'}, 2000, function() {
                $('#result-sub').animate({opacity: 1});
            });
        }, 700);
    }
}, 1000);
</script>
