<div class="row">

<%- partial('_sidebar') %>

<div class="action-scene block span10" style="background: url(/images/bg/<%= event.bg %>) repeat">
<h2 style="text-shadow: 1px 1px 3px #000; color: #fff"><%= event.name %></h2>
<% scenario.forEach(function(line) { %>
<p class="line" style="display: none"><%= line %></p>
<% }) %>

<p id="revealNextLineBtn"><button onclick="revealNextLine()" class="btn">계속</button>

<div id="result" class="alert-message block-message info" style="display: none">
<form method="post" action="" onsubmit="return checkForm(this)">
<ul class="inputs-list">
<% for (var i = 0; i < reactions.length; i++) { %>
    <li><label><input type="radio" name="reaction" value="<%= i %>"> <%= reactions[i] %></label></li>
<% } %>
</ul>
<div class="alert-actions"><input type="submit" value="계속" class="btn primary"></div>
</form>
</div>
</div>

</div>

<script>
var lastLine = $('.action-scene p').first();
lastLine.slideDown();
var nreaction = <%= reactions.length %>;
if (nreaction == 0) // 바로 마지막 계속 버튼 표시.
	revealNextLine();
function revealNextLine() {
	var newLine = lastLine.next('p');
	if (newLine.attr('id') == 'revealNextLineBtn')
		finishScript();
	else {
       	newLine.slideDown();
    	lastLine = newLine;
    }
}
function finishScript() {
	$('#revealNextLineBtn').hide();
	$('#result').slideDown();
}
function checkForm(form) {
	if (nreaction > 0 && $(form).find(':checked').length < 1) {
		alert('선택지를 고르세요.');
		return false;
    }
    return true;
}
</script>
