<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap-1.4.0.min.css" type="text/css">
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <style type="text/css">
    body { padding-top: 20px; background-color: #eee; }
    .block { background-color: #fff; padding: 10px; margin-bottom: 20px; border-radius: 10px; }
    #stat .avatar { float: left; margin-right: 10px; }
    .bar-chart { height: 10px; background-color: #fff; margin-top: 5px; float: left; width: 100px; }
    .bar-chart-inner { height: 100%; background-color: #999; }
    .bar-chart-inner.point { background-color: orange; }
	.action-scene { background-color: transparent; min-height: 400px; }
	.line { background: rgba(255, 255, 255, 0.9); padding: 10px; border-radius: 5px; font-size: 16px; }
    </style>
</head>
<body>
<div class="container">
<%- body %>
</div>
</body>
</html>
