<div class="row">

<%- partial('_sidebar') %>

<div class="block span10">
<% if (typeof error != 'undefined' && error != '') { %>
<div class="alert-message error">
<%= error %>
</div>
<% } %>

<% if (typeof info != 'undefined' && info != '') { %>
<div class="alert-message success">
<%= info %>
</div>
<% } %>

<form method="post" action="/go" name="go_form">
<input type="hidden" name="target" id="goTarget">
<p>현재 위치: <strong><%= areas[state.region].name %> (인지도 : <%= state.areas[state.region].popularity %>)</strong>
<div style="background: url(/images/map.png) no-repeat; width: 478px; height: 399px; position: relative" id="map">
<% for (var i = 0; i < areas.length; i++) { var area = areas[i]; %>
<div style="position: absolute; left: <%= area.pos[0] %>px; top: <%= area.pos[1] %>px; font-size: 20px; font-weight: bold; color: #fff; text-shadow: 1px 1px 1px #666;"><%= state.areas[i].popularity %></div>
<% } %>
<% var here = areas[state.region]; %>
<div style="position: absolute;" id="currentAreaIcon"><img src="/images/move.png"></div>
</div>
</form>

<% actions.forEach(function(action) { %>
<a href="/do/<%= action.id %>" class="btn"><strong><%= action.name %></strong> [-<%= action.point %>p]</a> 
<% }); %>
<form method="post" style="display: inline" action="/rest"<% if (state.point > 0) { %> onsubmit="return confirm('아직 행동력이 남아있습니다. 그래도 휴식하시겠습니까?')"<% } %>>
<input type="submit" value="휴식" class="btn danger" id="restBtn" title="행동을 끝내고 다음주까지 쉽니다.">
</form>
</div>

</div>

<script type="text/javascript" src="/javascripts/bootstrap-twipsy.js"></script>
<script>
$('#restBtn').twipsy({placement: 'right'});
var region = <%= state.region %>;
var areas = <%- JSON.stringify(areas) %>;
var nameAreas = [
[200,236,277,280],
[245,17,325,61],
[280,202,377,248],
[391,186,468,219],
[294,324,374,359],
[135,333,246,365],
[24,175,114,223],
[155,68,210,138]
];
var complete = false;
var blinkTimer;

$(function() {
    for (var i = 0; i < nameAreas.length; i++) {
        var area = nameAreas[i];
        $('#map').append($('<div></div>').css({position: 'absolute',
            left: area[0]+'px', top: area[1]+'px',
            width: (area[2] - area[0]) + 'px',
            height: (area[3] - area[1]) + 'px',
            cursor: 'pointer',
            //backgroundColor: 'rgba(255, 0, 0, 0.4)'
        }).data('i', i).click(function() { moveTo($(this).data('i')); }));
    }
    var a = nameAreas[region];
    var pos = {left: (a[0] + a[2] - 30)/2, top: (a[1] + a[3] - 30)/2};
    $('#currentAreaIcon').css(pos);
});

function moveTo(n) {
<% if (state.point < consts.MOVE_POINT) { %>
    alert('행동력이 부족합니다.');
    return false;
<% } %>
    if (n == region)
        return;

	if (!complete) {
        var a = nameAreas[n];
        var pos = {left: (a[0] + a[2] - 30)/2, top: (a[1] + a[3] - 30)/2};
        clearInterval(blinkTimer);
        $('#currentAreaIcon').stop().css('opacity', 1).animate(pos, 500, 'linear', function() { $('#goTarget').val(n); document.go_form.submit(); });
        return false;
    }
}

blinkTimer = setInterval(function() {
	$('#currentAreaIcon').fadeToggle(500);
}, 500);
</script>
